<%- include("./partials/header"); %>
<div>

    <!-- <form action="/logout" method="get">
        <input type="submit" value="LOGOUT">
    </form> -->
    <noscript>You need Javascript to properly run this application.</noscript>

    <div class="root d-flex flex-row ">
        <div id="sidebar">
            <ul class="list-group m-2">
                <li class="list-group-item list-group-item-action active list-item my-2" id="sidebar-option-1" onclick="select_sidebar_1()">INVENTORY</li>
                <li class="list-group-item list-group-item-action list-item my-2" id="sidebar-option-2" onclick="select_sidebar_2()">ITEM TRANSFER</li>
                <li class="list-group-item list-group-item-action list-item my-2" id="sidebar-option-3" onclick="select_sidebar_3()">TRANSFER AUTOMATION</li>
                <li class="list-group-item list-group-item-action list-item my-2" id="sidebar-option-4" onclick="select_sidebar_4()">SETTINGS</li>
            </ul>
        </div>

        <div id="main" class="flex-grow-1 sidebar-2">
            <div id="main-1">
                <%- include("./inventory");%>
            </div>
            <div id="main-2" style="display: none;">
                <%- include("./item_transfer");%>
            </div>
            <div id="main-3"  style="display: none;">
                <%- include("./transfer_automation");%>
            </div>
            <div id="main-4" style="display: none;">
                <%- include("./settings");%>
            </div>
        </div>
    </div>

</div>
    <script src="/js/Home.js"></script>
<%- include("./partials/footer"); %>